auto-install-peers=true
strict-peer-dependencies=false
save-exact=true
enable-pre-post-scripts=true

# ERR_PNPM_LINKING_FAILED  Error: ENOENT: no such file or directory 
# https://github.com/pnpm/pnpm/issues/7024
package-import-method=clone-or-copy

#engine-strict = true
